/* RESET STYLES */

@import 'reset'; 

/* RESET STYLES */

/* GENERAL STYLES START*/
:root {
  --accent-color: #ef443b;
}
 
body {
  overflow-x: clip;
  background-color: #160E33;
}


.container {
  margin: 0 auto;
}

// Privacy Policy Page
.pr-policy {
  color: #FFF;
  padding-top: 12px;
  padding-bottom: 12px;
}
// Privacy Policy Page

/* GENERAL STYLES END*/

/* MAIN STYLES */

@media (min-width: 359px) {
  .container {
    width: 95%;
  }
  .logo {
    max-width: 50px;
    // aspect-ratio: 4 / 2;
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 50%;
    }
  }
  
  /* Header Start */
  .header {
    padding-top: 4px;
    padding-bottom: 4px;
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // z-index: 1;
    background-color: #160E33;
    &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__nav {
      color:beige;
      font-size: 14px;
      // text-transform: uppercase;
      &-items-list {
        display: flex;
      }
      &-item {
        margin: 0 8px;
      }
    }
    &__lang {
      color:beige;
      border: 1px solid var(--accent-color);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 4px;
      row-gap: 4px;
      label {
        text-transform: uppercase;
      }
      &-switcher {
        border: none;
        border-radius: 4px;
        box-shadow: inset 0 0 12px rgba(245, 245, 200, .2);
        color: beige;
      }
    }
  }
  /* Header End */

  /* Basic-slider Start */
  .basic-slider {
    z-index: 0;
    padding-bottom: 12px;
    &__wrap {
      // width: 100%;
      // height: 100%;
      // display: flex;
      // overflow: hidden;
      // position: relative;
    }
    &__img {
      // position: absolute;
      // top: 0;
      // left: 0;
      width: 100%;
    }
  }
 
  
  /* Basic-slider End*/

  /* Games Start */
  .games {
    color: #fff;
    min-height: fit-content;
    padding-top: 12px;
    padding-bottom: 12px;
    &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 12px;
      row-gap: 12px;
    }
    &__item {
      text-align: center;
    }
    &__item-img {
      max-width: 100%;
      height: auto;
      border-radius: 16px;
      overflow: clip;
      margin-bottom: 4px;
    }
  }
  /* Games End*/

  /* Team Start*/
  .team {
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    min-height: 300px;
    &__members {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 12px;
      margin-bottom: 16px;
    }
    &__member {
      &-photo {
        width: 100%;
        margin-bottom: 4px;
      }
      border-radius: 12px;
      box-shadow: 0px 0px 40px 0px rgba(239, 68, 59, 0.40);
      flex-basis: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 4px;
      &-divider {
        width: 100%;
        height: 1px;
        background-color: #FFF;
        margin-bottom: 4px;
      }
      &-name {
        margin-bottom: 2px;
      }
      &-post {
        color:var(--accent-color);
        font-weight: 500;
        font-size: 12px;
      }
    }
    &__message {
      &-text {
        font-size: 12px;
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }
  }
  /* Team End*/

  /* Find-us Start */
  .find-us {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #fff;
    &__wrap {
      white-space: nowrap;

    }
    &__partners {
      display: inline-block;
      animation: slide 10s infinite linear;
      &-logo {
        height: 40px;
        margin: 0 10px;
      }
    }
    @keyframes slide {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }
  }
  /* Find-us End */

  /* Verifications Start */
  .verifications {
    padding-top: 12px;
    padding-bottom: 12px;
    height: 40%;
    background-color: #dcd7d7;
    &__items {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    &__item {
      max-width: 17%;
      aspect-ratio: 4 / 4;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  /* Verifications End */

  /* Contact-us Start */
  .contact-us {
    padding-top: 12px;
    padding-bottom: 12px;
    label {
      text-align: center;
      display: block;
      color:#FFF;
      margin-bottom: 4px;
      text-transform: uppercase;
      font-weight: 500;
    }
    &__field {
      width: 100%;
      color:#434343;
      box-shadow: inset 0 0 4px 4px rgba(239, 68, 59, .4);
      border-radius: 4px;
      margin-bottom: 8px;
      &::placeholder {
        text-transform: capitalize;
      }
    }
    input[type='text'], input[type='email'] {
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 18px;
    }
    &__comment {
      resize: none;
      &::placeholder {
        font-size: 18px;
      }
    }
    
    &__btn {
      padding: 8px 12px;
      border: none;
      border-radius: 4px;
      display: block;
      background-color: var(--accent-color);
      width: fit-content;
      margin: 0 auto;
      color:#FFF;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
    }
  }
  /* Contact-us End*/

  /* Footer Start */
  .footer {
    position: relative;
    color:#FFF;
    padding-top: 12px;
    padding-bottom: 24px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 90%;
      background-color:#FFF;
      opacity: .3;
    }
    &__main {
      display: flex;
      justify-content: space-between;
      align-items: end;
      margin-bottom: 12px;
    }
    &__adult-icon{
      width: 50px;
      img {
        width: 100%;
        height: auto;
        color:#FFF;
      }
    }
    &__pr-policy {
      text-transform: uppercase;
      text-decoration-line: underline;
      text-align: center;
    }
  }
  /* Footer End*/

  /* Privacy Policy Page Start */
  .pr-policy {
    &__text:not(:last-child) {
      margin-bottom: 16px;
    }
  } 
  /* Privacy Policy Page End*/
}

@media (min-width: 479px) {
  /* Header Start*/
  .header {
    &__lang {
      padding: 6px 16px;
      label {
        letter-spacing: 4px;
        font-weight: 400;
      }
      &-switcher {
        letter-spacing: 4px;
        font-size: 14px;
      }
    }
   
  }
  /* Header End*/
  
  /* FInd-us Start */
  .find-us__partners-logo {
    height: 60px;
  }
  /* FInd-us End */

  /* Contact-us Start */
  .contact-us {
    &__btn {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
  /* Contact-us End */
}

@media (min-width: 767px) {
  .container {
    width: 83%;
  }

  .logo {
    max-width: 150px;
  }
  
  /* Header Start */
  .header {
    padding-top: 16px;
    
  }
  /* Header End */

  /* Basic-slider Start */
  .basic-slider {
    // padding-top: 16px;
    padding-bottom: 16px;
  }
  /* Basic-slider End */

  /* Games Start */
  .games {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  /* Games End */

  /* Team Start*/
  .team {
    padding-top: 16px;
    padding-bottom: 32px;
    &__message-text {
      font-size: initial;
    }
  }
  /* Team End*/

  /* FInd-us Start */
  .find-us__partners-logo {
    height: 90px;
  }
  /* FInd-us End */

  /* Contact-us Start */
  .contact-us {
    padding-top: 32px;
    padding-bottom: 32px;
    label {
      margin-bottom: 12px;
    }
    &__form {
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);
      column-gap: 8px;
      grid-template-areas: 
      'in c'
      'ie c';
    }
    &__field {
      padding: 8px;
    }
    &__name {
      grid-area: in;
    }
    &__email {
      grid-area: ie;
    }
    &__comment {
      grid-area: c;
    }
    &__btn {
      grid-column: 1 / -1;
      width: 100%;
      font-size: 20px;
      letter-spacing: 8px;
      margin-top: 8px;
    }
  }
  /* Contact-us End */

  /* Footer Start */
  .footer {
    padding-top: 16px;
    padding-bottom: 24px;
    &__adult-icon{
      width: 75px;
    }
  }
  /* Footer End */
}

@media (min-width: 1000px) {
  .container {
    width: 80%;
  }
  .logo {
    max-width: 70px;
  }
  /* Header Start */
  .header {
    padding-top: 16px;
    
    &__lang {
      font-size: 20px;
      line-height: 28px;
      padding: 12px 24px;
      &-switcher {
        font-size: 20px;
      }
    }
  }
  /* Header End */

  /* Team Start */
  .team {
    &__members {
      margin-bottom: 24px;
    }
    &__member {
      flex-basis: 18%;
      font-size: 20px;
      img {
        margin-bottom: 8px;
      }
      &-post {
        font-size: 16px;
      }
    }
    &__message {
      width: 70%;
      margin: 0 auto;
      text-align: center;
      &-text {
      font-size: 20px;
        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
    }
  }
  /* Team End */

   /* FInd-us Start */
  .find-us__partners-logo {
    height: 120px;
    margin: 0 20px;
  }
  /* FInd-us End */

  /* Contact-us Start */
  .contact-us {
    &__form {
      margin: 0 auto;
      max-width: 90%;
      grid-template-rows: repeat(2, 80px);
    }
    &__btn {
      width: 30%;
      margin-top: 16px;
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 24px;
      font-weight: 300;
    }
  }
  /* Contact-us End */
}
/* MAIN STYLES */