/* RESET STYLES */

@import 'reset'; 

/* RESET STYLES */

/* GENERAL STYLES */
:root {
  --accent-color: #EF443B;
}
 
.logo {
  max-width: 100px;
  height: 50px;
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
  }
}

.container {
  margin: 0 auto;
}

.main {
  background-color: #160E33;
}
/* GENERAL STYLES */

/* MAIN STYLES */

@media (min-width: 360px) {
  .container {
    max-width: 95%;
  }
  /* Header Start */
  .header {
    padding-top: 12px;
    // padding-bottom: 12px;
    background-color: #160E33;
    &__wrap {
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__logo {
      max-width: 100px;
      height: 50px;
      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 50%;
      }
    }
    &__contacts {
      color: var(--accent-color);
      font-size: 12px;
    }

    .lang {
      color:beige;
      border: 1px solid var(--accent-color);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 5px;
      row-gap: 3px;
      &__switcher {
        border: none;
        border-radius: 3px;
        box-shadow: inset 0 0 10px rgba(245, 245, 200, .2);
        color: beige;
      }
    }
  }
  /* Header End */

  /* Main-slider Start */
  .basic-slider {
    padding-top: 12px;
    padding-bottom: 12px;
    min-height: 205px;
    &__img > img {
      max-width:100%;
      height: auto;
    }
  }
  /* Main-slider End*/

  /* Games Start */
  .games {
    color: #fff;
    min-height: fit-content;
    padding-top: 12px;
    padding-bottom: 12px;
    &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 12px;
      row-gap: 12px;
    }
    &__item {
      text-align: center;
    }
    &__item-img {
      max-width: 100%;
      height: auto;
      border-radius: 16px;
      overflow: clip;
      margin-bottom: 4px;
    }
  }
  /* Games End*/

  /* Team Start*/
  .team {
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    min-height: 300px;
    &__members {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 12px;
      margin-bottom: 16px;
    }
    &__member {
      &-photo {
        width: 100%;
        margin-bottom: 4px;
      }
      border-radius: 12px;
      // border: 1px solid var(--accent-color);
      box-shadow: 0px 0px 40px 0px rgba(239, 68, 59, 0.40);
      flex-basis: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 4px;
      &-divider {
        width: 100%;
        height: 1px;
        background-color: #FFF;
        margin-bottom: 4px;
      }
      &-name {
        margin-bottom: 2px;
      }
      &-post {
        color:var(--accent-color);
        font-weight: 500;
        font-size: 12px;
      }
    }
    &__message {
      &-text {
        font-size: 12px;
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }
  }
  /* Team End*/

  /* Find-us Start */
  .find-us {
    height: 40%;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #fff;
    &__wrap {
      height: 100%;
      display: flex;
      align-items: center;
    }
    &__partners {
      display: flex;
      column-gap: 16px;
      align-items: center;
      justify-content: space-between;
      &-logo {
        min-width: 30%;
        aspect-ratio: 4/2;
        // border: 1px solid var(--accent-color);
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  /* Find-us End */

  /* Verifications Start */
  .verifications {
    padding-top: 12px;
    padding-bottom: 12px;
    height: 40%;
    background-color: #dcd7d7;
    &__items {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    &__item {
      max-width: 17%;
      aspect-ratio: 4 / 4;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  /* Verifications End */

  /* Contact-us Start */
  .contact-us {
    padding-top: 12px;
    padding-bottom: 12px;
    label {
      display: inline-block;
      color:#FFF;
      margin-bottom: 4px;
    }
    &__field {
      width: 100%;
      color:#FFF;
      // border: 1px solid var(--accent-color);
      box-shadow: inset 1px 1px 5px var(--accent-color);
      border-radius: 4px;
      margin-bottom: 8px;
    }
    &__btn {
      padding: 8px 12px;
      border: none;
      border-radius: 4px;
      display: block;
      background-color: var(--accent-color);
    }
  }
  /* Contact-us End*/
}

/* Footer */
/* Footer */

/* MAIN STYLES */
