/* RESET STYLES */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  text-align: right;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: "Rubik";
  font-weight: 300;
  font-size: 16px;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

select {
  background-color: transparent;
}

/* RESET STYLES */
/* GENERAL STYLES START*/
:root {
  --accent-color: #ef443b;
}

body {
  background-color: rgb(0, 0, 0);
}

.container {
  margin: 0 auto;
}

.pr-policy {
  color: #FFF;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* GENERAL STYLES END*/
/* MAIN STYLES */
@media (min-width: 359px) {
  .container {
    width: 95%;
  }
  .logo {
    width: 20%;
  }
  .logo__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 50%;
       object-position: 0 50%;
  }
  /* Header Start */
  .header {
    position: relative;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .header__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav {
    text-transform: uppercase;
    color: beige;
    font-size: 12px;
  }
  .header__nav-hamburger {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px 2px #000;
            box-shadow: 0 0 5px 2px #000;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 30px;
    position: relative;
  }
  .header__nav-hamburger span {
    width: 30px;
    height: 2px;
    background-color: #FFF;
  }
  .header__nav-hamburger::before, .header__nav-hamburger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFF;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__nav-hamburger::before {
    top: 0;
    left: 0;
  }
  .header__nav-hamburger::after {
    bottom: 0;
    left: 0;
  }
  .header__nav-hamburger.active span {
    visibility: hidden;
  }
  .header__nav-hamburger.active::after {
    bottom: 50%;
    -webkit-transform: rotate(-45deg) translate(0, 50%);
            transform: rotate(-45deg) translate(0, 50%);
  }
  .header__nav-hamburger.active::before {
    -webkit-transform: rotate(45deg) translate(0, -50%);
            transform: rotate(45deg) translate(0, -50%);
    top: 50%;
  }
  .header__nav-items-list {
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__nav-items-list.hidden {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__nav-item {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }
  .header__nav-link {
    vertical-align: bottom;
  }
  .header__lang {
    color: beige;
    border: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 4px;
    row-gap: 4px;
  }
  .header__lang label {
    text-transform: uppercase;
  }
  .header__lang-switcher {
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 12px rgba(245, 245, 200, 0.2);
            box-shadow: inset 0 0 12px rgba(245, 245, 200, 0.2);
    color: beige;
  }
  /* Header End */
  /* Basic-slider Start */
  .basic-slider {
    z-index: 0;
    padding-bottom: 12px;
  }
  .basic-slider__img {
    width: 100%;
  }
  /* Basic-slider End*/
  /* Games Start */
  .games {
    color: #fff;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .games__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 12px;
       -moz-column-gap: 12px;
            column-gap: 12px;
  }
  .games__item {
    text-align: center;
  }
  .games__item-img {
    width: 100%;
    height: 80%;
    border-radius: 16px;
    overflow: clip;
    margin-bottom: 4px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* Games End*/
  /* Find-us Start */
  .find-us {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #fff;
    overflow: clip;
  }
  .find-us__wrap {
    white-space: nowrap;
  }
  .find-us__partners {
    display: inline-block;
    -webkit-animation: slide 10s infinite linear;
            animation: slide 10s infinite linear;
  }
  .find-us__partners-logo {
    height: 40px;
    margin: 0 10px;
  }
  @-webkit-keyframes slide {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  @keyframes slide {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  .find-us:hover .find-us__partners {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
  /* Find-us End */
  /* About Start*/
  .about {
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .about__points {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 12px;
  }
  .about__point {
    height: 100px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(239, 68, 59, 0.4);
            box-shadow: 0px 0px 40px 0px rgba(239, 68, 59, 0.4);
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 4px;
  }
  .about__point-divider {
    width: 100%;
    height: 1px;
    background-color: #FFF;
    opacity: 0.3;
    margin-bottom: 4px;
  }
  .about__point-value {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2px;
    height: 50%;
  }
  .about__point-descr {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 12px;
    text-align: center;
  }
  .about__message-text {
    font-size: 12px;
  }
  .about__message-text:not(:last-child) {
    margin-bottom: 12px;
  }
  /* About End*/
  /* Contact-us Start */
  .contact {
    color: #FFF;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .contact__heading {
    text-align: center;
    color: #FFF;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .contact__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__item:not(:last-child) {
    margin-bottom: 8px;
  }
  .contact__item-link {
    letter-spacing: 2px;
    text-align: center;
  }
  .contact__item-duty {
    margin-top: 4px;
    letter-spacing: normal;
    color: var(--accent-color);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
  }
  /* Contact-us End*/
  /* Footer Start */
  .footer {
    position: relative;
    color: #FFF;
    padding-top: 12px;
    padding-bottom: 24px;
  }
  .footer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 1px;
    width: 90%;
    background-color: #FFF;
    opacity: 0.3;
  }
  .footer__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    margin-bottom: 12px;
  }
  .footer__adult-icon {
    width: 50px;
  }
  .footer__adult-icon img {
    width: 100%;
    height: auto;
  }
  .footer__certification {
    width: 50px;
  }
  .footer__certification img {
    width: 100%;
  }
  /* Footer End*/
}
@media (min-width: 479px) {
  /* Header Start*/
  .header__lang {
    padding: 6px 16px;
  }
  .header__lang label {
    letter-spacing: 4px;
    font-weight: 400;
  }
  .header__lang-switcher {
    letter-spacing: 4px;
    font-size: 14px;
  }
  .header__nav-items-list {
    font-size: 16px;
    padding: 12px 0;
  }
  /* Header End*/
  /* FInd-us Start */
  .find-us__partners-logo {
    height: 60px;
  }
  /* FInd-us End */
  /* Contact-us Start */
  /* Contact-us End */
}
@media (min-width: 767px) {
  .logo {
    width: 12%;
    margin-right: 16px;
  }
  /* Header Start */
  .header {
    padding-top: 4px;
  }
  .header__nav-hamburger {
    display: none;
  }
  .header__nav-items-list {
    text-align: center;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    font-size: 14px;
    width: 100%;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    background: transparent;
  }
  .header__nav-items-list.hidden {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header__lang {
    margin-left: 16px;
  }
  /* Header End */
  /* Basic-slider Start */
  .basic-slider {
    padding-bottom: 16px;
  }
  /* Basic-slider End */
  /* Games Start */
  .games {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  /* Games End */
  /* FInd-us Start */
  .find-us__partners-logo {
    height: 90px;
  }
  /* FInd-us End */
  /* About Start*/
  .about {
    padding-top: 16px;
    padding-bottom: 32px;
  }
  .about__message-text {
    font-size: initial;
  }
  /* About End*/
  /* Contact-us Start */
  .contact__wrap {
    padding: 0 4%;
  }
  .contact__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact__item-link {
    letter-spacing: 3px;
  }
  .contact__item-duty {
    letter-spacing: 1px;
    font-size: 14px;
  }
  /* Contact-us End */
  /* Footer Start */
  .footer {
    padding-top: 16px;
    padding-bottom: 24px;
  }
  .footer__adult-icon {
    width: 75px;
  }
  .footer__certification {
    width: 75px;
  }
  /* Footer End */
}
@media (min-width: 1000px) {
  .container {
    width: 80%;
  }
  .logo {
    width: 8%;
  }
  /* Header Start */
  .header__lang {
    font-size: 20px;
    line-height: 28px;
    padding: 12px 24px;
  }
  .header__lang-switcher {
    font-size: 20px;
  }
  /* Header End */
  /* FInd-us Start */
  .find-us__partners-logo {
    height: 120px;
    margin: 0 20px;
  }
  /* FInd-us End */
  /* About Start */
  .about__points {
    margin-bottom: 24px;
  }
  .about__point {
    -ms-flex-preferred-size: 18%;
        flex-basis: 18%;
    font-size: 20px;
  }
  .about__point img {
    margin-bottom: 8px;
  }
  .about__point-descr {
    font-size: 16px;
  }
  .about__message {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .about__message-text {
    font-size: 20px;
  }
  .about__message-text:not(:last-child) {
    margin-bottom: 24px;
  }
  /* About End */
  /* Contact Start */
  /* Contact End */
}
@media (min-width: 1200px) {
  .contact__wrap {
    padding: 0;
  }
  .contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact__item-link {
    letter-spacing: normal;
  }
  .contact__item-duty {
    margin-left: 8px;
  }
}
/* MAIN STYLES */