/* RESET STYLES */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  text-align: right;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: "Rubik";
  font-weight: 300;
  font-size: 16px;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

select {
  background-color: transparent;
}

/* RESET STYLES */
/* GENERAL STYLES START*/
:root {
  --accent-color: #ef443b;
}

body {
  overflow-x: clip;
  background-color: #160E33;
}

.container {
  margin: 0 auto;
}

.pr-policy {
  color: #FFF;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* GENERAL STYLES END*/
/* MAIN STYLES */
@media (min-width: 359px) {
  .container {
    width: 95%;
  }
  .logo {
    max-width: 100px;
    aspect-ratio: 4/2;
  }
  .logo__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 50%;
       object-position: 0 50%;
  }
  /* Header Start */
  .header {
    padding-top: 12px;
  }
  .header__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__contacts {
    color: white;
    font-size: 12px;
    text-align: center;
  }
  .header__email {
    margin-bottom: 8px;
  }
  .header__email a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .header__email a::before {
    content: "";
    margin-right: 8px;
    width: 16px;
    height: 16px;
    background: url("../images/icons/header/email_icon.svg") center/contain no-repeat;
  }
  .header__phone a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .header__phone a::before {
    content: "";
    margin-right: 8px;
    width: 16px;
    height: 16px;
    background: url("../images/icons/header/phone-call_icon.svg") center/contain no-repeat;
  }
  .header__lang {
    color: beige;
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 4px;
    row-gap: 4px;
  }
  .header__lang label {
    text-transform: uppercase;
  }
  .header__lang-switcher {
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 12px rgba(245, 245, 200, 0.2);
            box-shadow: inset 0 0 12px rgba(245, 245, 200, 0.2);
    color: beige;
  }
  /* Header End */
  /* Basic-slider Start */
  .basic-slider {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .basic-slider__wrap {
    width: 100%;
  }
  .basic-slider__img {
    max-width: 100%;
    height: auto;
  }
  /* Basic-slider End*/
  /* Games Start */
  .games {
    color: #fff;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .games__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 12px;
       -moz-column-gap: 12px;
            column-gap: 12px;
    row-gap: 12px;
  }
  .games__item {
    text-align: center;
  }
  .games__item-img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    overflow: clip;
    margin-bottom: 4px;
  }
  /* Games End*/
  /* Team Start*/
  .team {
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    min-height: 300px;
  }
  .team__members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 12px;
    margin-bottom: 16px;
  }
  .team__member {
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(239, 68, 59, 0.4);
            box-shadow: 0px 0px 40px 0px rgba(239, 68, 59, 0.4);
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 4px;
  }
  .team__member-photo {
    width: 100%;
    margin-bottom: 4px;
  }
  .team__member-divider {
    width: 100%;
    height: 1px;
    background-color: #FFF;
    margin-bottom: 4px;
  }
  .team__member-name {
    margin-bottom: 2px;
  }
  .team__member-post {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 12px;
  }
  .team__message-text {
    font-size: 12px;
  }
  .team__message-text:not(:last-child) {
    margin-bottom: 12px;
  }
  /* Team End*/
  /* Find-us Start */
  .find-us {
    height: 40%;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #fff;
  }
  .find-us__wrap {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .find-us__partners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-animation: slide 25s linear infinite;
            animation: slide 25s linear infinite;
  }
  .find-us__partners-logo {
    min-width: 30%;
    aspect-ratio: 4/2;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  @-webkit-keyframes slide {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  @keyframes slide {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  /* Find-us End */
  /* Verifications Start */
  .verifications {
    padding-top: 12px;
    padding-bottom: 12px;
    height: 40%;
    background-color: #dcd7d7;
  }
  .verifications__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .verifications__item {
    max-width: 17%;
    aspect-ratio: 4/4;
  }
  .verifications__item img {
    width: 100%;
    height: auto;
  }
  /* Verifications End */
  /* Contact-us Start */
  .contact-us {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .contact-us label {
    text-align: center;
    display: block;
    color: #FFF;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .contact-us__field {
    width: 100%;
    color: #434343;
    -webkit-box-shadow: inset 0 0 4px 4px rgba(239, 68, 59, 0.4);
            box-shadow: inset 0 0 4px 4px rgba(239, 68, 59, 0.4);
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .contact-us__field::-webkit-input-placeholder {
    text-transform: capitalize;
  }
  .contact-us__field::-moz-placeholder {
    text-transform: capitalize;
  }
  .contact-us__field:-ms-input-placeholder {
    text-transform: capitalize;
  }
  .contact-us__field::-ms-input-placeholder {
    text-transform: capitalize;
  }
  .contact-us__field::placeholder {
    text-transform: capitalize;
  }
  .contact-us input[type=text], .contact-us input[type=email] {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
  }
  .contact-us__comment {
    resize: none;
  }
  .contact-us__comment::-webkit-input-placeholder {
    font-size: 18px;
  }
  .contact-us__comment::-moz-placeholder {
    font-size: 18px;
  }
  .contact-us__comment:-ms-input-placeholder {
    font-size: 18px;
  }
  .contact-us__comment::-ms-input-placeholder {
    font-size: 18px;
  }
  .contact-us__comment::placeholder {
    font-size: 18px;
  }
  .contact-us__btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    display: block;
    background-color: var(--accent-color);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
  }
  /* Contact-us End*/
  /* Footer Start */
  .footer {
    position: relative;
    color: #FFF;
    padding-top: 12px;
    padding-bottom: 24px;
  }
  .footer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 1px;
    width: 90%;
    background-color: #FFF;
    opacity: 0.3;
  }
  .footer__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    margin-bottom: 12px;
  }
  .footer__adult-icon {
    width: 50px;
  }
  .footer__adult-icon img {
    width: 100%;
    height: auto;
    color: #FFF;
  }
  .footer__pr-policy {
    text-transform: uppercase;
    text-decoration-line: underline;
    text-align: center;
  }
  /* Footer End*/
  /* Privacy Policy Page Start */
  .pr-policy__text:not(:last-child) {
    margin-bottom: 16px;
  }
  /* Privacy Policy Page End*/
}
@media (min-width: 479px) {
  /* Header Start*/
  .header__lang {
    padding: 6px 16px;
  }
  .header__lang label {
    letter-spacing: 4px;
    font-weight: 400;
  }
  .header__lang-switcher {
    letter-spacing: 4px;
    font-size: 14px;
  }
  .header__contacts {
    font-size: 16px;
  }
  /* Header End*/
  /* Contact-us Start */
  .contact-us__btn {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  /* Contact-us End */
}
@media (min-width: 767px) {
  .container {
    width: 83%;
  }
  .logo {
    max-width: 150px;
  }
  /* Header Start */
  .header {
    padding-top: 16px;
  }
  .header__contacts {
    margin: 0 auto;
    width: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 18px;
  }
  .header__email {
    margin-bottom: 0;
    -ms-flex-item-align: start;
        align-self: start;
  }
  /* Header End */
  /* Basic-slider Start */
  .basic-slider {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  /* Basic-slider End */
  /* Games Start */
  .games {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  /* Games End */
  /* Team Start*/
  .team {
    padding-top: 16px;
    padding-bottom: 32px;
  }
  .team__message-text {
    font-size: initial;
  }
  /* Team End*/
  /* Find-us Start */
  /* Find-us End */
  /* Contact-us Start */
  .contact-us {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contact-us label {
    margin-bottom: 12px;
  }
  .contact-us__form {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    grid-template-areas: "in c" "ie c";
  }
  .contact-us__field {
    padding: 8px;
  }
  .contact-us__name {
    grid-area: in;
  }
  .contact-us__email {
    grid-area: ie;
  }
  .contact-us__comment {
    grid-area: c;
  }
  .contact-us__btn {
    grid-column: 1/-1;
    width: 100%;
    font-size: 20px;
    letter-spacing: 8px;
    margin-top: 8px;
  }
  /* Contact-us End */
  /* Footer Start */
  .footer {
    padding-top: 16px;
    padding-bottom: 24px;
  }
  .footer__adult-icon {
    width: 75px;
  }
  /* Footer End */
}
@media (min-width: 1000px) {
  .container {
    width: 96%;
  }
  .logo {
    max-width: 175px;
  }
  /* Header Start */
  .header {
    padding-top: 16px;
  }
  .header__contacts {
    font-size: 24px;
  }
  .header__email a::before {
    margin-right: 16px;
    width: 40px;
    height: 40px;
  }
  .header__phone a::before {
    margin-right: 16px;
    width: 40px;
    height: 40px;
  }
  .header__lang {
    font-size: 20px;
    line-height: 28px;
    padding: 12px 24px;
  }
  .header__lang-switcher {
    font-size: 20px;
  }
  /* Header End */
  /* Team Start */
  .team__members {
    margin-bottom: 24px;
  }
  .team__member {
    -ms-flex-preferred-size: 18%;
        flex-basis: 18%;
    font-size: 20px;
  }
  .team__member img {
    margin-bottom: 8px;
  }
  .team__member-post {
    font-size: 16px;
  }
  .team__message {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .team__message-text {
    font-size: 20px;
  }
  .team__message-text:not(:last-child) {
    margin-bottom: 24px;
  }
  /* Team End */
  /* Contact-us Start */
  .contact-us__form {
    margin: 0 auto;
    max-width: 90%;
    grid-template-rows: repeat(2, 80px);
  }
  .contact-us__btn {
    width: 30%;
    margin-top: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: 300;
  }
  /* Contact-us End */
}
/* MAIN STYLES */